<section class="about-section">
    <h2>
        Procompta : les experts-comptables qui vous accompagnent au quotidien
    </h2>
    <div class="about-content">
        <img src={{  asset('build/images/about.png') }} alt="About Us">
            <div class="text-about">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus facilis impedit expedita vitae ratione neque minus deserunt eum dicta? Eveniet maxime explicabo veritatis dolore sunt est iusto doloribus pariatur accusantium. Magnam commodi odio dicta repellat, officiis cum sint aut sit, accusamus optio animi eius necessitatibus quas explicabo esse! Corrupti corporis culpa architecto quaerat exercitationem rerum cumque inventore repellendus! Quidem, rerum.
                </p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed asperiores inventore quibusdam, esse consequatur nihil aliquam quisquam nemo expedita itaque, excepturi molestiae deserunt dolore maiores iste minima. A, commodi iure? Deserunt pariatur corporis ab fugit, perferendis nobis, voluptatum laboriosam qui culpa incidunt laborum quaerat iusto doloremque illo illum ducimus fuga, sed molestias officia magnam veritatis mollitia deleniti? Libero, sapiente perspiciatis? Laudantium voluptatibus obcaecati explicabore deleniti? Ut quis quae vel facero, earum dole libero. Ut distinctio sequi voluptate laborum deserunt consequuntur, quaerat sit quia inventore earum aliquid. Rerum iure inventore optio.
                </p>
            </div>
        </div>
    </section>
    