<div class="header">
   <img class="logo" src={{  asset('build/images/brand-logo.png') }} alt="Procompta"> 
        <nav>
            <ul>
                <li>
                    <a href="#">
                        Procompta
                    </a>
                </li>
                <li>
                    <a href="#">
                        Nous recrutons
                    </a>
                </li>
                <li>
                    <a href="#">
                        Nos outils en ligne
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contactez-nous
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    