<section class="hero-section">
    <h1>
        Trouvez l’expert-comptable Procompta le plus proche de vous
    </h1>
    <form>
        <input type="text" placeholder="Grenoble">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
                Rechercher
            </button>
        </form>
    </section>
    